---
- name: Install ELK prerequiste
  apt:
    name: openjdk-11-jdk
    update_cache: yes
    state: latest
- name: Install latest Elastic Stack
  apt:
    name:
      - 'elasticsearch'
      - 'logstash'
      - 'kibana'
      - 'filebeat'
    update_cache: yes
    state: latest
  when: run_latest_update
- name: Ensure Elastic Stack is installed
  package:
    name:
      - 'elasticsearch'
      - 'logstash'
      - 'kibana'
      - 'filebeat'
    state: present