---
- name: Install ELK prerequiste
  yum:
    name: java-11-openjdk
    update_cache: yes
    state: latest
- name: Install latest Elastic Stack
  yum:
    name:
      - 'elasticsearch'
      - 'logstash'
      - 'kibana'
      - 'filebeat'
    update_cache: yes
    state: latest
  when: run_latest_update
- name: Ensure Elastic Stack is installed
  package:
    name:
      - 'elasticsearch'
      - 'logstash'
      - 'kibana'
      - 'filebeat'
    state: present